body{
    .jumbotron{
        box-shadow: grey 3px 3px 5px 3px;
        margin-top: 2%;
        margin-left: 5%;
        margin-right: 5%;
        h1{
            margin-left: 15px;
        }
        p{
            margin-left: 15px;
           margin-bottom: 10px;
        }

    }
    #ContenedorVacantes{
        box-shadow: grey 3px 3px 5px 3px;
        margin-top: 2%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 20px;
    }
}