/*definimos las variables con las que vamos a trabajar*/
/*aqui estan las variables globales que seran heredadas a las demás hojas de estilos*/
$shadow_black_color: black;
$shador_grey_color:grey;
$shadow_size:3px;
$text_clear_color: white;
$marginSizeCards: 12%;

body{
    margin: 0;
    #carousel_container{
        position: absolute;
        width: 100%;
    }
    /*agregamos estilos a la imagen del banner*/
    #img_banner_1{
        width: 100%;
        height: 75vh;
        filter: blur(3px);/*difuminamos el fondo de la imagen*/
    }
    /*contenedor con texto sobre el banner*/
    #nav_texto_sobre_banner{
        background-color:transparent; 
        height: 200px;
        width: 100%;   
        text-align: center;/*centramos el contenido dentro del banner*/
        position: relative;
        margin-top: 15%;
        h1{
            color: white;
            text-shadow: black 3px 3px 3px;
            font-size: 50px;
        }
        h3{
            color: white;
            text-shadow: black 3px 3px 3px;
            font-size: 30px;
        }
        a{
            /*estilo del boton empezar, sobre el banner*/
            font-size: 30px;
            border-radius: 10px;
            box-shadow:$shador_grey_color $shadow_size $shadow_size $shadow_size;
        }
    }
    
    /*Estilizamos la targeta debajo del banner*/
    #TargetaBajoBanner{
        margin-left: 7%;
        margin-right: 7%;
        margin-top: 14%;
        margin-bottom: 5%;
        background-color: $text_clear_color;
        position: relative;
        border-radius: 15px;
        box-shadow:$shador_grey_color $shadow_size $shadow_size $shadow_size;
        a{
            background-color: rgb(50, 107, 50);
        }
    }
    
    footer{
        margin-top: 1%;
        margin-left: 7%;
        margin-right: 7%;
        h5{
            text-align: center;
        }
    }
}
/*adaptamos la vista resonsive*/
@media screen and (max-width: 1484px) {

    body{
        #img_banner_1{
            width: 100%;
            height: 40vh;
            filter: blur(3px);/*difuminamos el fondo de la imagen*/
        }
        #TargetaBajoBanner{
            margin-left: 7%;
            margin-right: 7%;
            margin-top: 15%;
            margin-bottom: 5%;
            background-color: $text_clear_color;
            position: relative;
            border-radius: 15px;
            box-shadow:$shador_grey_color $shadow_size $shadow_size $shadow_size;
            a{
                background-color: rgb(50, 107, 50);
            }
        }
    }
}
/*adaptamos la vista resonsive*/
@media screen and (max-width: 280px) {

    body{
        #img_banner_1{
            width: 100%;
            height: 30vh;
            filter: blur(3px);/*difuminamos el fondo de la imagen*/
        }
        #TargetaBajoBanner{
            margin-left: 7%;
            margin-right: 7%;
            margin-top: 30%;
            margin-bottom: 5%;
            background-color: $text_clear_color;
            position: relative;
            border-radius: 15px;
            box-shadow:$shador_grey_color $shadow_size $shadow_size $shadow_size;
            a{
                background-color: rgb(50, 107, 50);
            }
        }
    }
}
/*adaptamos la vista resonsive*/
@media screen and (max-width: 556px) {

    body{
        #img_banner_1{
            width: 100%;
            height: 40vh;
            filter: blur(3px);/*difuminamos el fondo de la imagen*/
        }
        #TargetaBajoBanner{
            margin-left: 7%;
            margin-right: 7%;
            margin-top: 25%;
            margin-bottom: 5%;
            background-color: $text_clear_color;
            position: relative;
            border-radius: 15px;
            box-shadow:$shador_grey_color $shadow_size $shadow_size $shadow_size;
            a{
                background-color: rgb(50, 107, 50);
            }
        }
    }
}
