body{
    #ContenedorPreguntas{
        .card-body{
            margin: 3%;
            box-shadow: grey 3px 3px 3px 1px;
        }
    }
    footer{
        div{
            margin: 7%;
        }
    }
}