/*importamos los estilos del home*/
@import "./Home.scss";
body{
    #ContenedorPreguntas{
        .card-body{
            margin: 3%;
            box-shadow: $shador_grey_color $shadow_size $shadow_size $shadow_size 1px;
        }
    }
    footer{
        div{
            margin: 7%;
        }
    }
}